@model Doggie.Models.Event
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
<h2>Create new event</h2>

@using (@Html.BeginForm("Save", "Event"))
{
    <div class="form-group">
        @Html.LabelFor(e => e.DogOwnerName)
        @Html.ValidationMessageFor(e => e.DogOwnerName)
        @Html.TextBoxFor(e => e.DogOwnerName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Location)
        @Html.ValidationMessageFor(e => e.Location)
        @Html.TextBoxFor(e => e.Location, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Date)
        @Html.ValidationMessageFor(e => e.Date)
        @Html.TextBoxFor(e => e.Date, new { @class = "form-control", @placeholder="dd/mm/yyyy" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.StartingTime)
        @Html.ValidationMessageFor(e => e.StartingTime)
        @Html.TextBoxFor(e => e.StartingTime, new { @class = "form-control", @placeholder="hh:mm:ss" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.EstimatedTimeMinutes)
        @Html.ValidationMessageFor(e => e.EstimatedTimeMinutes)
        @Html.TextBoxFor(e => e.EstimatedTimeMinutes, new { @class = "form-control", @placeholder="In minutes" })
    </div>
    @Html.HiddenFor(e => e.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}